﻿<style>
    .NavLinks {
        float: right;
    }

    .NavBarText {
        color: white;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MengeTroue</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3 bg-transparent" style="z-index:99; ">
            <div class="container" >
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="color:white; font-size:30px; padding:5px;">Paul & Izelda</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"  >

                    <ul class="navbar-nav flex-grow-1"style="margin-left:50%;">
                        <li class="nav-item" style="width:50%">
                            <a href="Home" class="nav-link NavLinks NavBarText " style="color:white; font-size:20px; padding:10px; cursor:pointer">Home</a>
                        </li>
                        <li class="nav-item"style="width:30%">
                            <a  class="nav-link NavLinks NavBarText" style="color:black;font-size:20px;padding:10px; cursor:pointer" onclick="ScrollToRSVP()">RSVP</a>
                        </li>
                        <li class="nav-item"style="width:30%">
                            <a class="nav-link NavLinks NavBarText" style="color:black;font-size:20px;padding:10px;cursor:pointer" onclick="ScrollToFAQ()">FAQ</a>
                        </li>
                        <li class="nav-item"style="width:30%">
                            <a class="nav-link NavLinks NavBarText" style="color:black;font-size:20px;padding:10px;cursor:pointer" onclick="ScrollToContactUs()">Contact</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>*@

    <div>
        @*<partial name="_CookieConsentPartial" />*@

        @RenderBody()

    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - MengeTroue - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>
    function ScrollToRSVP() {
        var location = document.getElementById('RSVPSection');
        location.scrollIntoView();

    }

    function ScrollToContactUs() {
        var location = document.getElementById('ContactUsSection');
        location.scrollIntoView();
    }

    function ScrollToFAQ() {
        var location = document.getElementById('FAQSection');
        location.scrollIntoView();

    }
</script>