﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .AccommodationDiv {
        margin: auto;
        width: 25vw;
    }

    .AccommodationLabel {
        margin: auto;
        margin-top: 5vw;
        font-size: 1.5vw;
        color: #b1b881;
    }

    .AccommodationSubLabel {
        margin: auto;
        margin-top: 1vw;
        font-size: 1.25vw;
        color: #b1b881;
    }

    .AccommodationModalHeading {
        margin: auto;
        margin-top: 1vw;
        font-size: 1.25vw;
        color: #b1b881;
    }

    .AccommodationModalContent {
        margin: auto;
        margin-top: 1vw;
        font-size: 1.25vw;
        color: #b1b881;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 1vw;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }




    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 20vw; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30vw;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .CloseModalButton {
        background-color:white;
        float:right;
        width:2.5%;
        position:fixed;
        margin-left:25vw;
        border:none;  
    }

    @@media only screen and (max-width: 600px) {
        .AccommodationDiv {
            margin: auto;
            width: 100vw;
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 70vw; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 85vw;
        }
        .AccommodationModalHeading {
            margin: auto;
            margin-top: 1vw;
            font-size: 5vw;
            color: #b1b881;
        }

        .AccommodationModalContent {
            margin: auto;
            margin-top: 1vw;
            font-size: 4vw;
            color: #b1b881;
        }

        .AccommodationLabel {
            margin: auto;
            margin-top: 10vw;
            font-size: 5vw;
            color: #b1b881;
        }

        .AccommodationSubLabel {
            margin: auto;
            margin-top: 3vw;
        
            font-size: 4vw;
            color: #b1b881;
        }

        .CloseModalButton {
            background-color: white;
            float: right;
            width: 5%;
            position: fixed;
            margin-left: 70vw;
            border: none;     
        }
    }


    .clickable-div {
        cursor: pointer;
    }
</style>



<div class="AccommodationDiv">

    <div class="row">
        <label class="AccommodationLabel">Nearby Accommodation</label>
    </div>
    <div class="row">
        <label class="AccommodationSubLabel">Click on the location for more info</label>

    </div>

    <table id="AccommodationTable">
        <tr>
            <th>Accomodation</th>
            @*<th>Contact</th>*@
            @*<th>Website</th>*@
            <th>Star</th>
            <th>Km</th>
        </tr>
        <tr>
            <td>Kromklip vakansieoord</td>
            @*<td>079 2644 075</td>*@
            @*<td>www.kromklipoord.co.za</td>*@
            <td>-</td>
            <td>13.1</td>
        </tr>
        <tr>
            <td>Lodge Laske Nakke</td>
            @*<td>013 235 2886</td>
                <td>www.logdelaskenakke.co.za</td>*@
            <td>***</td>
            <td>13.1</td>
        </tr>
        <tr>
            <td>Klitz Gras Charlets</td>
            @*<td>013 235 2758</td>
                <td>www.klitzgrascharlets.co.za</td>*@
            <td>-</td>
            <td>15.8</td>
        </tr>
        <tr>
            <td>The Manor Guest House</td>
            @*<td>013 235 2099</td>
                <td>www.roomsforafrica.co.za</td>*@
            <td>****</td>
            <td>16.1</td>
        </tr>
        <tr>
            <td>The Palms Boutique Hotel</td>
            @*<td>013 235 4168</td>
                <td>www.roomsforafrica.co.za</td>*@
            <td></td>
            <td>16.1</td>
        </tr>
        <tr>
            <td>Aqua Terra Guesthouse</td>
            @*<td>078 384 0330</td>
                <td>www.aquaterragh.com</td>*@
            <td></td>
            <td>16.3</td>
        </tr>
        <tr>
            <td>Villa Afriq</td>
            @*<td>013 235 1855</td>
                <td>www.villa-afriq.co.za</td>*@
            <td></td>
            <td>16.9</td>
        </tr>
        <tr>
            <td>Forget me not</td>
            @*<td>013 235 4016</td>
                <td>www.safarinow.com</td>*@
            <td></td>
            <td>16.9</td>
        </tr>
        <tr>
            <td>Dankhof Guesthouse</td>
            @*<td>079 9713 713</td>
                <td>www.dankhof.co.za</td>*@
            <td></td>
            <td>17</td>
        </tr>
        <tr>
            <td>Adelpragt Guesthouse</td>
            @*<td>013 235 2010</td>
                <td>www.adelpragt.co.za</td>*@
            <td></td>
            <td>17.1</td>
        <tr>
            <td>De Ark Guesthouse</td>
            @*<td>013 235 1125</td>
                <td>www.dearkguesthouse.co.za</td>*@
            <td>****</td>
            <td>17.2</td>
        </tr>
        <tr>
            <td>Amani Boutique Hotel</td>
            @*<td>082 331 9321</td>
                <td>www.amanihotel.co.za</td>*@
            <td>****</td>
            <td>18.4</td>
        </tr>
        <tr>
            <td>Lydenburg Guesthouse</td>
            @*<td>084 626 5903</td>
                <td>www.lydenburgguesthouse.co.za</td>*@
            <td>-</td>
            <td>18.4</td>
        </tr>
        <tr>
            <td>Longtom Farm Guesthouse</td>
            @*<td>083 725 1149</td>
                <td>www.longtomguesthouse.co.za</td>*@
            <td>****</td>
            <td>18.4</td>
        </tr>
        <tr>
            <td>Purple Gecko Guesthouse</td>
            @*<td>013 235 4486</td>
                <td>www.purplegecko.co.za</td>*@
            <td>****</td>
            <td>18.6</td>
        </tr>


    </table>


</div>


<!-- The Modal -->
<div id="myModal" class="modal">


    <!-- Modal content -->
    <div class="modal-content">
        <button id="CloseModalButton" class="CloseModalButton" onclick="CloseModal()">X</button>
        <label class="AccommodationModalHeading" id="ModalTitle">Guest house</label>
        <label class="AccommodationModalContent" id="ModalContact">Contact</label>
        <label class="AccommodationModalContent" id="ModalWebsite">Website</label>
    </div>

</div>

<script>

    function CloseModal() {
        modal.style.display = "none";
    }


    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];

    var ModalTitle = document.getElementById("ModalTitle");
    var ModalContact = document.getElementById("ModalContact");
    var ModalWebsite = document.getElementById("ModalWebsite");


    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    $('#AccommodationTable').find('tr').click(function () {
        var row = $(this).find('td:first').text();
        var modal = document.getElementById('myModal');

        

        switch (row) {

            case 'Kromklip vakansieoord':
                ModalTitle.innerHTML = 'Kromklip vakansieoord';
                ModalContact.innerHTML = '079 2644 075';
                ModalWebsite.innerHTML = 'www.kromklipoord.co.za';
                break;
            case 'Lodge Laske Nakke':
                ModalTitle.innerHTML = 'Lodge Laske Nakke';
                ModalContact.innerHTML = '013 235 2886';
                ModalWebsite.innerHTML = 'www.logdelaskenakke.co.za';
                break;
            case 'Klitz Gras Charlets':
                ModalTitle.innerHTML = 'Klitz Gras Charlets';
                ModalContact.innerHTML = '013 235 2758';
                ModalWebsite.innerHTML = 'www.klitzgrascharlets.co.za';
                break;
            case 'The Manor Guest House':
                ModalTitle.innerHTML = 'The Manor Guest House';
                ModalContact.innerHTML = '013 235 2099';
                ModalWebsite.innerHTML = 'www.roomsforafrica.co.za';
                break;
            case 'The Palms Boutique Hotel':
                ModalTitle.innerHTML = 'The Palms Boutique Hotel';
                ModalContact.innerHTML = '013 235 4168';
                ModalWebsite.innerHTML = 'www.roomsforafrica.co.za';
                break;
            case 'Aqua Terra Guesthouse':
                ModalTitle.innerHTML = 'Aqua Terra Guesthouse';
                ModalContact.innerHTML = '078 384 0330';
                ModalWebsite.innerHTML = 'www.aquaterragh.com';
                break;
            case 'Villa Afriq':
                ModalTitle.innerHTML = 'Villa Afriq';
                ModalContact.innerHTML = '013 235 1855';
                ModalWebsite.innerHTML = 'www.villa-afriq.co.za';
                break;
            case 'Forget me not':
                ModalTitle.innerHTML = 'Forget me not';
                ModalContact.innerHTML = '013 235 4016';
                ModalWebsite.innerHTML = 'www.safarinow.com';
                break;
            case 'Dankhof Guesthouse':
                ModalTitle.innerHTML = 'Dankhof Guesthouse';
                ModalContact.innerHTML = '079 9713 713';
                ModalWebsite.innerHTML = 'www.dankhof.co.za';
                break;
            case 'Adelpragt Guesthouse':
                ModalTitle.innerHTML = 'Adelpragt Guesthouse';
                ModalContact.innerHTML = '013 235 2010';
                ModalWebsite.innerHTML = 'www.adelpragt.co.za';
                break;
            case 'De Ark Guesthouse':
                ModalTitle.innerHTML = 'De Ark Guesthouse';
                ModalContact.innerHTML = '013 235 1125';
                ModalWebsite.innerHTML = 'www.dearkguesthouse.co.za';
                break;
            case 'Amani Boutique Hotel':
                ModalTitle.innerHTML = 'Amani Boutique Hotel';
                ModalContact.innerHTML = '082 331 9321';
                ModalWebsite.innerHTML = 'www.amanihotel.co.za';
                break;
            case 'Lydenburg Guesthouse':
                ModalTitle.innerHTML = 'Lydenburg Guesthouse';
                ModalContact.innerHTML = '084 626 5903';
                ModalWebsite.innerHTML = 'www.lydenburgguesthouse.co.za';
                break;
            case 'Longtom Farm Guesthouse':
                ModalTitle.innerHTML = 'Longtom Farm Guesthouse';
                ModalContact.innerHTML = '083 725 1149';
                ModalWebsite.innerHTML = 'www.longtomguesthouse.co.za';
                break;
            case 'Purple Gecko Guesthouse':
                ModalTitle.innerHTML = 'Purple Gecko Guesthouse';
                ModalContact.innerHTML = '013 235 4486';
                ModalWebsite.innerHTML = 'www.purplegecko.co.za';
                break;


        }



        modal.style.display = "block";

    });


    //Add data to modal


</script>