﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MengeTroue.Pages.CustomPages.HomeModel

<style>

    .ContactUsDiv {
        height: 42vw;
        margin: auto;
        margin-top: 1vw;
        width: 60vw;
        border: 3px solid #b1b881;
        padding: 1vw;
        border-radius: 15px;
    }

    .ContactUsTitleDiv {
        height: 5vw;
        margin: auto;
        margin-top: 0.5vw;
        width: 30vw;
        padding: 1vw;
    }

    .ContactUsTitleLabel {
        font-size: 2vw;
        height: 100%;
        margin: auto;
        margin-top: 1vw;
        color: #b1b881;
    }

    .ContactUsSubTitleLabel {
        font-size: 1.15vw;
        height: 100%;
        margin: auto;
        margin-top: 1vw;
        color: #d7d7d7;
    }


    .ContactUsInputDiv {
        width: 90%;
        margin: auto;
    }

    .ContactUsInputLabels {
        margin: 1vw;
        margin-bottom: 0px;
    }

    .ContactUsInputs {
        width: 100%;
        margin: 1vw;
        height: 3vw;
        margin-top: 0.5vw;
        border: 3px solid #b1b881;
        font-size: 1.25vw;
        padding: 1vw;
        border-radius: 10px;
    }

    .ContactUsSubmitButton {
        height: 3vw;
        width: 7vw;
        margin-top: 5%;
        border: 3px solid #b1b881;
        border-radius: 15px;
        background-color: #b1b881;
    }

    .ContactUsSubmitButtonSpan {
        color: #FFF;
    }


    .ContactUsTextArea {
        border-radius: 15px;
        border: 3px solid #b1b881;
        margin: 1vw;
        width: 100%;
    }



    @@media only screen and (max-width: 600px) {

        .ContactUsDiv {
            height: 135vw;
            margin: auto;
            margin-top: 0vw;
            width: 95vw;
            border: 3px solid #b1b881;
            padding: 5vw;
        }

        .ContactUsTitleDiv {
            height: 5vh;
            margin: auto;
            margin-top: 5vh;
            width: 60vw;
            padding: 10px;
        }

        .ContactUsTitleLabel {
            font-size: 7vw;
            height: 100%;
            margin: auto;
            margin-top: 2vh;
            color: #b1b881;
        }

        .ContactUsSubTitleLabel {
            font-size: 4vw;
            height: 100%;
            margin: auto;
            margin-top: 2vh;
            color: #d7d7d7;
        }


        .ContactUsInputDiv {
            width: 90%;
            margin: auto;
        }

        .ContactUsInputLabels {
            margin: 1vw;
            margin-bottom: 0px;
        }

        .ContactUsInputs {
            width: 100%;
            margin: 1vw;
            height: 12vw;
            margin-top: 1vh;
            border: 3px solid #b1b881;
            font-size: 5vw;
            padding: 2vw;
            border-radius: 10px;
        }

        .ContactUsSubmitButton {
            height: 10vw;
            width: 20vw;
            margin-top: 5%;
            border: 3px solid #b1b881;
            border-radius: 15px;
            background-color: #b1b881;
        }

        .ContactUsSubmitButtonSpan {
            color: #FFF;
        }
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />




<div class="row" style="height:150px;">

    <div class="ContactUsTitleDiv">

        <div class="row" style="height:50px;">
            <label class="ContactUsTitleLabel">Contact Us</label>
        </div>
        <div class="row" style="height:50px;">
            <label class="ContactUsSubTitleLabel">For any questions or concerns</label>
        </div>
    </div>
</div>
<form method="post"  asp-page-handler="Message" id="ContactUsForm">
    <div class="ContactUsDiv">

        <div class="row">
            <div class="ContactUsInputDiv">
                <div class="row">
                    <label class="ContactUsInputLabels">YOUR NAME AND SURNAME</label>
                </div>
                <div class="row">
                    <input type="text" class="ContactUsInputs" id="ContactUsName" asp-for="@Model._Message.Name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ContactUsInputDiv">
                <div class="row">
                    <label class="ContactUsInputLabels">YOUR NUMBER</label>
                </div>
                <div class="row">
                    <input type="text" class="ContactUsInputs" id="ContactUsNumber" asp-for="@Model._Message.Number">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ContactUsInputDiv">
                <div class="row">
                    <label class="ContactUsInputLabels">YOUR EMAIL (Optional)</label>
                </div>
                <div class="row">
                    <input type="text" class="ContactUsInputs" id="ContactUsEmail" asp-for="@Model._Message.Email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ContactUsInputDiv">
                <div class="row">
                    <label class="ContactUsInputLabels">YOUR MESSAGE</label>
                </div>
                <div class="row">
                    <textarea id="ContactUsMessage" class="ContactUsTextArea" rows="5" cols="20" wrap="hard" asp-for="@Model._Message.MessageContent">  </textarea>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="ContactUsInputDiv">
                <button class="ContactUsSubmitButton" type="button" onclick="SubmitContactForm()">
                    <span class="ContactUsSubmitButtonSpan">
                        Submit
                    </span>

                </button>
            </div>
        </div>


    </div>
</form>

<script>
    function SubmitContactForm() {
        var ContactFormValid = true;


        var ContactUsName = document.getElementById('ContactUsName');
        var ContactUsNumber = document.getElementById('ContactUsNumber');
        //var ContactUsName = document.getElementById('ContactUsEmail');
        var ContactUsMessage = document.getElementById('ContactUsMessage');

        if (ContactUsName.value == '') {
            ContactUsName.style = 'border:3px solid red;'
            ContactFormValid = false;
        }

        if (ContactUsNumber.value == '') {
            ContactUsNumber.style = 'border:3px solid red;'
            ContactFormValid = false;
        }

        if (ContactUsMessage.value == '') {
            ContactUsMessage.style = 'border:3px solid red;'
            ContactFormValid = false;
        }

        if (ContactFormValid == true) {
            if (!confirm('Your message has been submitted successfully')) { return false; }
            document.getElementById('ContactUsForm').submit();
        }


    }

</script>