﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .CountdownTimer {
        position: relative;
        height: 35vh;
        width: 100vw;
        background-color: #b1b881;
        align-content: center;
        margin: 0px;
    }

    .CountdownTimerBlocks {
        width: 25%;
        height: 100%;
        margin: auto;
        padding: 1vw;
    }

    .CombinedCountdownBlocks {
        top: 5vh;
        height: 70%;
        margin: auto;
        margin-top: 4vh;
    }

    .CountdownNumbers {
        font-size: 5vw;
        height: 100%;
        margin: auto;
        margin-top: 0vh;
        color: #e6e6e6;
    }

    .CountdownTitle {
        color: #d7d7d7;
        font-size: 2vw;
    }

    .CountdownUnits {
        margin: 3vw;
        margin-top: 1vh;
        color: #d7d7d7;
        font-size: 2vw;
        left: 50%;
    }

    .CountdownTitleDiv {
        margin: auto;
    }

    @@media only screen and (max-width: 600px) {


        .CountdownTimer {
            position: relative;
            height: 72vw;
            width: 100vw;
            background-color: #b1b881;
            align-content: center;
        }

        .CountdownTimerBlocks {
            width: 25%;
            height: 100%;
            margin: auto;
            padding: 2vw;
        }

        .CombinedCountdownBlocks {
            top: 10vw;
            height: 70%;
            margin: auto;
            margin-top: 10vw;
        }

        .CountdownNumbers {
            font-size: 7vw;
            height: 100%;
            margin: auto;
            color: #e6e6e6;
        }

        .CountdownTitle {
            color: #d7d7d7;
            font-size: 5vw;
            margin-bottom:5vw;
        }

        .CountdownUnits {
            margin: 3vw;
            margin-top: 0vw;
            color: #d7d7d7;
            font-size: 4vw;
            left: 50%;
        }

        .CountdownTitleDiv {
            margin: auto;
        }
    }
</style>


<div class="CountdownTimer" style="text-align: center;">
    <div class="row" style=" height:100%;margin: auto;">
        <div class="CombinedCountdownBlocks">
            <div class="row">
                <div class="CountdownTitleDiv">
                    <label class="CountdownTitle">THE WEDDING BEGINS IN</label>
                </div>
            </div>
            <div class="row" style="height:50%;">
                <div class="column CountdownTimerBlocks text-center">
                    <label id="CountdownDays" class="CountdownNumbers">00</label>
                </div>
                <div class="column CountdownTimerBlocks text-center">
                    <label id="CountdownHours" class="CountdownNumbers">00</label>
                </div>
                <div class="column CountdownTimerBlocks text-center">
                    <label id="CountdownMinutes" class="CountdownNumbers">00</label>
                </div>
                <div class="column CountdownTimerBlocks text-center">
                    <label id="CountdownSeconds" class="CountdownNumbers">00</label>
                </div>
            </div>
            <div class="row" style="height:30%;">
                <div class="column CountdownTimerBlocks">
                    <label class="CountdownUnits">Days</label>
                </div>
                <div class="column CountdownTimerBlocks">
                    <label class="CountdownUnits">Hours</label>
                </div>
                <div class="column CountdownTimerBlocks">
                    <label class="CountdownUnits">Minutes</label>
                </div>
                <div class="column CountdownTimerBlocks">
                    <label class="CountdownUnits">Seconds</label>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var DaysLabel = document.getElementById('CountdownDays');
    var HoursLabel = document.getElementById('CountdownHours');
    var MinutesLabel = document.getElementById('CountdownMinutes');
    var SecondsLabel = document.getElementById('CountdownSeconds');

    // Set the date we're counting down to
    var countDownDate = new Date("Sept 7, 2019 15:37:25").getTime();
    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        DaysLabel.innerHTML = days;
        HoursLabel.innerHTML = hours;
        MinutesLabel.innerHTML = minutes;
        SecondsLabel.innerHTML = seconds;

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);

        }
    }, 1000);
</script>