﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/site.js"></script>

<style>

    img {
        width: 100%;
        height: 100%;
    }
    @@font-face {
        font-family: 'alexbrush-regular';
        src: url('fonts/alexbrush-regular.ttf') format('truetype');
    }

    .Title {
        font-size: 10vw;
        position: absolute;
        color: #b1b881;
        top: 60%;
        left: 22vw;
        font-family: 'alexbrush-regular';
        font-weight: 500;
        text-shadow: -1px -1px 0 #808080, 1px -1px 0 #808080, -1px 1px 0 #808080, 1px 1px 0 #808080;
    }

    .SubTitle {
        font-size: 3vw;
        position: absolute;
        color: #b1b881;
        top: 85%;
        left: 23vw;
        font-family: 'Bodoni MT';
        text-shadow: -1px -1px 0 #808080, 1px -1px 0 #808080, -1px 1px 0 #808080, 1px 1px 0 #808080;
    }

    .TopImageDiv {
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    @@media only screen and (max-width: 600px) {

        .TopImageDiv {
            width: 100vw;
            height: 60vh;
            position: relative;
        }

        .Title {
            font-size: 15vw;
            position: absolute;
            top: 60%;
            left: 5%;
            font-weight: 500;
        }

        .SubTitle {
            font-size: 4vw;
            position: absolute;
            color: #b1b881;
            top: 77%;
            left:10vw;
            /*font-weight: 500;*/
        }
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div Id="TitleImageDiv" class="TopImageDiv">
    <img id="TopImageImg1" src="~/img/foto1.jpg" hidden />
    <img id="TopImageImg2" src="~/img/foto2.jpg" hidden />
    <img id="TopImageImg3" src="~/img/foto3.jpg" hidden />
    <label class="Title"><i>Paul & Izelda</i></label>
    <label class="SubTitle">Getting married on Saturday, 7 September 2019</label>
</div>

@*Image rotation script*@
<script>
    //var TopImageSources = ["/img/foto1.jpg", "/img/foto2.jpg", "/img/foto3.jpg"];
    var ImageCounter = 0;
    //var TitleImage = document.getElementById('TitleImageDiv');
    //var Image = document.getElementById('TopImageImg');
    //document.getElementById('TopImageImg').src = TopImageSources[0];

    var FadedIn = false;
    var timer = new Timer(function () {

        switch (ImageCounter) {
            case 0:
                document.getElementById('TopImageImg1').style.opacity = 0;
                timer2.start();
                break;
            case 1:
                document.getElementById('TopImageImg2').style.opacity = 0;
                timer2.start();
                break;
            case 2:
                document.getElementById('TopImageImg3').style.opacity = 0;
                timer2.start();
                break;
        }
        //console.log(ImageCounter);
        ImageCounter++;

        if (ImageCounter == 3) ImageCounter = 0;
    }, 8000);


    var CurrentOpacity = 0;

    var timer2 = new Timer(function () {

        switch (ImageCounter) {
            case 0:
                //console.log(CurrentOpacity);

                CurrentOpacity += 0.01;
                document.getElementById('TopImageImg2').hidden = true;
                document.getElementById('TopImageImg3').hidden = true;
                document.getElementById('TopImageImg1').hidden = false;
                document.getElementById('TopImageImg1').style.opacity = CurrentOpacity;

                if (CurrentOpacity.toFixed(3) == 1) {
                    CurrentOpacity = 0;
                    timer2.stop();

                }

                break;
            case 1:
                //console.log(CurrentOpacity);
                CurrentOpacity += 0.01;
                document.getElementById('TopImageImg1').hidden = true;
                document.getElementById('TopImageImg3').hidden = true;
                document.getElementById('TopImageImg2').hidden = false;
                document.getElementById('TopImageImg2').style.opacity = CurrentOpacity;

                if (CurrentOpacity.toFixed(3) == 1) {
                    CurrentOpacity = 0;
                    timer2.stop();

                }
                break;
            case 2:
                //console.log(CurrentOpacity);

                CurrentOpacity += 0.01;
                document.getElementById('TopImageImg1').hidden = true;
                document.getElementById('TopImageImg2').hidden = true;
                document.getElementById('TopImageImg3').hidden = false;
                document.getElementById('TopImageImg3').style.opacity = CurrentOpacity;

                if (CurrentOpacity.toFixed(3) == 1) {
                    CurrentOpacity = 0;
                    timer2.stop();

                }
                break;
        }



    }, 3);


</script>
