﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .DirectionsDiv {
        margin: auto;
        margin-top: 5vw;
        width: 60vw;
        height: 40vw;
    }

    .DirectionsLabel {
        
        margin:1vw;
        margin-left:0vw;
        font-size: 1.5vw;
        color: #b1b881;
    }

  
    .DirectionsImage {
        margin: auto;
    }

    @@media only screen and (max-width: 600px) {

        .DirectionsDiv {
            margin: auto;
            margin-top: 5vw;
            width: 85vw;
            height: 40vw;
        }

        .DirectionsLabel {
            margin: 1vw;
            margin-left: 0vw;
            margin-top:6vw;
            font-size: 6vw;
            color: #b1b881;
        }


        .DirectionsImage {
            margin: auto;
            width:95vw;
            height:80vw;
        }
    }
</style>

<div class="DirectionsDiv">
    <div class="row">
        <label class="DirectionsLabel">Address</label>
    </div>
    <div class="row">
        Boshoek B13, Roossenekal Road, Lydenburg, 1120
    </div>

    <div class="row">
        <label class="DirectionsLabel">GPS Coordinates</label>
    </div>
    <div class="row">
        S 25 08 25,6
   
    </div>
    <div class="row">
  
        E 30 19 11,0
    </div>

    <div class="DirectionsImage">
        <img src="~/img/Directions.jpg" />
    </div>

    <div class="TextDirections">

        <div class="row">
            <label class="DirectionsLabel">Directions</label>
        </div>

        <div class="row">

            <ul>
                <li>
                    Coming from Pretoria on the N4 towards Nelspruit, take the R33 at Belfast. After 2,9 km turn left at the R540. Continue through Dullstroom for 50,1 km. Turn left on the R577 (Roossenekal). The Boshoek entrance will be on your righthand side after 10,4 km.
                </li>
                <li>
                    Coming from Nelspruit, take the R37 to Lydenburg. Turn left onto the R36 and continue for 3 km. Turn right onto the R540 and continue for 3,7 km. Turn right onto the R577 (Roossenekal) and continue straight on for 10,4 km. The Boshoek entrance will be on your righthand side.
                </li>

            </ul>
        </div>

    </div>




</div>