﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 1vw;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1vw;
        transition: 0.8s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

    .panel {
        padding: 0 1vw;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    .FAQTitleLabel {
        font-size: 2vw;
        font-weight:600;
        margin: auto;
        margin-top: 6vh;
        margin-bottom:2vh;
        color: #b1b881;
        text-align: center;
        vertical-align: middle;
    }

    .AccordionDiv {      
       width:60vw;
       margin:auto;
    
    }



    @@media only screen and (max-width: 600px) {
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 1.25vw;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 5vw;
            transition: 0.8s;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

        .panel {
            padding: 0 1vw;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        .FAQTitleLabel {
            font-size: 6vw;
            font-weight: 600;
            margin: auto;
            margin-top: 6vh;
            margin-bottom: 15px;
            color: #b1b881;
            text-align: center;
            vertical-align: middle;
        }

        .AccordionDiv {
            width: 100vw;
            margin: auto;
        }

   
    }
</style>


    <h2 class="FAQTitleLabel">Frequently Asked Questions</h2>

    <div class="row">
        <div class="AccordionDiv">
            <button class="accordion">How do I get to the venue?</button>
            <div class="panel">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>



                @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
            </div>

            <button class="accordion">Is there accommodation availible?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <button class="accordion">Can I bring a plus one?</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

    </div>

    <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
    </script>
