﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .InviteDiv {
        margin: auto;
        margin-top: 5vw;
        width: 45vw;
        height: 55vw;
        border: 3px solid #b1b881;
        border-radius:15px;
    }

    @@media only screen and (max-width: 600px) {

        .InviteDiv {
            margin: auto;
            margin-top: 10vw;
            width: 100vw;
            height: 140vw;
        }
    
    }

</style>
<div class="InviteDiv">
    <img src="~/img/Invitejpeg.jpeg" />

</div>