﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/site.js"></script>
<style>
    .NavbarRow {
        position: fixed;
        z-index: 99;
        height: 2.0vh;
        width: 100vw;
        top: 0vw;
    }

    .NavbarDiv {
        /*position:fixed;*/
        height: 3vh;
        z-index: 99;
    }

    .NavbarTitle {
        font-size: 2vw;
        margin-left: 20vw;
        margin-right: 19vw;
        font-family: 'Bodoni MT';
        font-weight: 500;
        color: #b1b881;
        text-shadow: -1px -1px 0 #808080, 1px -1px 0 #808080, -1px 1px 0 #808080, 1px 1px 0 #808080;
    }


    .NavbarHeadings {
        font-size: 1.25vw;
        margin-left: 1vw;
        margin-right: 0.75vw;
        margin-top: 0.60vw;
        color: #b1b881;
        text-shadow: -1px -1px 0 #808080, 1px -1px 0 #808080, -1px 1px 0 #808080, 1px 1px 0 #808080;
        cursor: pointer;
    }

    @@media only screen and (max-width: 600px) {

        .NavbarTitle {
            font-size: 5vw;
            margin-left: 12vw;
            margin-right: 0vw;
            font-weight: 500;
        }


        .NavbarHeadings {
            font-size: 5vw;
            margin-left: 1vw;
            margin-right: 3vw;
            margin-top: 1vw;
        }
    }


    .OtherDropdownDiv {
        margin-top:0px;
        position:fixed;
    
    
    }
</style>

<div id="MyNavbar" class="row NavbarRow">

    <label class="NavbarTitle"><b></b></label>

    <label class="NavbarHeadings" onclick="NavToHome()">Home</label>
    <label class="NavbarHeadings" onclick="NavToWhenInvite()">Invite</label>
    <label class="NavbarHeadings" onclick="NavToRSVP()">RSVP</label>

    <div>
        <label class="NavbarHeadings" for="OtherDropdown" onclick="OtherDropdownHandler()">Other </label>

        <div id="OtherDropdown" class="NavbarHeadings OtherDropdownDiv" style="display: block;" hidden>
            <a style="display: block;" onclick="NavToSchedule()">Schedule </a>
            <a style="display: block;" onclick="NavToDirections()">Directions</a>
            <a style="display: block;" onclick="NavToAccommodation()">Accommodation</a>
            <a style="display: block;" onclick="NavToFAQ()">FAQ</a>
            <a style="display: block;" onclick="NavToContactUs()">Contact Us</a>

        </div>
    </div>


</div>


@*Make the navbar hide when scrolling down and show when scrolling up*@
<script>
    var DropdownOpened = false;
    function OtherDropdownHandler() {

        if (!DropdownOpened) {
            document.getElementById('OtherDropdown').hidden = false;
            DropdownOpened = true;
        } else {
            document.getElementById('OtherDropdown').hidden = true;
            DropdownOpened = false;
        }

    }

    var lastScrollTop = 0;

    var CurrOpacity = 0;
    var TimerStarted = false;

    var DownscrollDetected = false;
    // element should be replaced with the actual target element on which you have applied scroll, use window in case of no target element.
    document.addEventListener("scroll", function () { // or window.addEventListener("scroll"....
        var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"
        if (st > lastScrollTop) {

            document.getElementById('MyNavbar').hidden = true;
            document.getElementById('MyNavbar').style.opacity = 0;
            DownscrollDetected = true;

        } else {

            document.getElementById('MyNavbar').hidden = false;
            if (DownscrollDetected) {
                DownscrollDetected = false;
                if (!TimerStarted) {
                    TimerStarted = true;
                    var timer3 = new Timer(function () {
                        //console.log("Timer");
                        CurrOpacity += 0.01;
                        document.getElementById('MyNavbar').style.opacity = CurrOpacity;

                        //console.log(CurrOpacity);
                        //timer3.start();
                        if (CurrOpacity.toFixed(3) == 1) {
                            timer3.stop();
                            //console.log("STOPPED");
                            CurrOpacity = 0;
                            TimerStarted = false;
                        }

                    }, 10);
                }
            }

        }
        lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
    }, false);


    function NavToSchedule() {

        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('ScheduleSection').hidden = false;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;

    }

    function NavToHome() {
        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = false;
        document.getElementById('CountdownTimerSection').hidden = false;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;

    }

    function NavToRSVP() {
        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = false;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;
    }



    function NavToFAQ() {
        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = false;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;
    }

    function NavToContactUs() {
        document.getElementById('ContactUsSection').hidden = false;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;
    }

    function NavToWhenInvite() {
        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('InviteSection').hidden = false;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;
    }

    function NavToDirections() {
        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = false;
        document.getElementById('AccommodationSecion').hidden = true;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;
    }

    function NavToAccommodation() {
        document.getElementById('ContactUsSection').hidden = true;
        document.getElementById('CarouselSection').hidden = true;
        document.getElementById('CountdownTimerSection').hidden = true;
        document.getElementById('RSVPSection').hidden = true;
        document.getElementById('FAQSection').hidden = true;
        document.getElementById('InviteSection').hidden = true;
        document.getElementById('DirectionsSection').hidden = true;
        document.getElementById('AccommodationSecion').hidden = false;
        document.getElementById('ScheduleSection').hidden = true;

        document.getElementById('OtherDropdown').hidden = true;
        DropdownOpened = false;

        
    }


</script>