﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MengeTroue.Pages.CustomPages.HomeModel
<style>

    .RSVPDiv {
        height: 50vw;
        margin: auto;
        margin-top: 1vw;
        width: 30vw;
        border: 3px solid #b1b881;
        padding: 1vw;
        border-radius: 15px;
    }

    .RSVPTitleDiv {
        height: 5vw;
        margin: auto;
        margin-top: 0.5vw;
        width: 30vw;
        padding: 1vw;
    }

    .RSVPTitleLabel {
        font-size: 2vw;
        height: 100%;
        margin: auto;
        margin-top: 1vw;
        color: #b1b881;
    }

    .RSVPSubTitleLabel {
        font-size: 1.15vw;
        height: 100%;
        margin: auto;
        margin-top: 1vw;
        color: #d7d7d7;
    }


    .RSVPInputDiv {
        width: 90%;
        margin: auto;
    }

    .RSVPInputLabels {
        margin: 1vw;
        margin-bottom: 0px;
    }

    .RSVPInputs {
        width: 100%;
        margin: 1vw;
        height: 3vw;
        margin-top: 0.5vw;
        border: 3px solid #b1b881;
        font-size: 1.25vw;
        padding: 1vw;
        border-radius: 10px;
    }

    .RSVPSubmitButton {
        height: 3vw;
        width: 7vw;
        margin-top: 5%;
        border: 3px solid #b1b881;
        border-radius: 15px;
        background-color: #b1b881;
    }

    .RSVPSubmitButtonSpan {
        color: #FFF;
    }

    .DaysAttendingDiv {
        display: inline-block;
        margin-left: 6vw;
    }

    .AttendanceCheckboxes {
        display: inline-block;
        margin-right: 5vw;
    }


    @@media only screen and (max-width: 600px) {
        .RSVPDiv {
            height: 170vw;
            margin: auto;
            margin-top: 0vw;
            width: 95vw;
            border: 3px solid #b1b881;
            padding: 5vw;
            border-radius: 10px;
        }

        .RSVPTitleDiv {
            height: 5vh;
            margin: auto;
            margin-top: 5vh;
            width: 60vw;
            padding: 10px;
        }

        .RSVPTitleLabel {
            font-size: 7vw;
            height: 100%;
            margin: auto;
            margin-top: 2vh;
            color: #b1b881;
        }

        .RSVPSubTitleLabel {
            font-size: 4vw;
            height: 100%;
            margin: auto;
            margin-top: 2vh;
            color: #d7d7d7;
        }


        .RSVPInputDiv {
            width: 90%;
            margin: auto;
        }

        .RSVPInputLabels {
            margin: 1vw;
            margin-bottom: 0px;
        }

        .RSVPInputs {
            width: 100%;
            margin: 1vw;
            height: 12vw;
            margin-top: 1vh;
            border: 3px solid #b1b881;
            font-size: 5vw;
            padding: 1vw;
            border-radius: 10px;
        }

        .RSVPSubmitButton {
            height: 10vw;
            width: 20vw;
            margin-top: 5%;
            border: 3px solid #b1b881;
            border-radius: 15px;
            background-color: #b1b881;
        }

        .RSVPSubmitButtonSpan {
            color: #FFF;
        }


        .DaysAttendingDiv {
            margin-left: 13vw;
        }

        .AttendanceCheckboxes {
            display: inline-block;
            margin-right: 12vw;
        }
  
    }



</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div class="row" style="height:150px;">

    <div class="RSVPTitleDiv">

        <div class="row" style="height:50px;">
            <label class="RSVPTitleLabel"> Will you attend?</label>
        </div>
        <div class="row" style="height:50px;">
            <label class="RSVPSubTitleLabel"> Please sign your RSVP</label>
        </div>
    </div>
</div>

<div class="RSVPDiv">

    <form method="post" id="RSVPForm" asp-page-handler="RSVP">

        <div class="row">
            <div class="RSVPInputDiv">
                <div class="row">
                    <label class="RSVPInputLabels">YOUR NAME AND SURNAME</label>
                </div>
                <div class="row">
                    <input type="text" class="RSVPInputs" id="RSVPName" asp-for=@Model._RSVP.Name>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="RSVPInputDiv">
                <div class="row">
                    <label class="RSVPInputLabels">YOUR NUMBER</label>
                </div>
                <div class="row">
                    <input type="text" class="RSVPInputs" id="RSVPNumber" asp-for=@Model._RSVP.Number>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="RSVPInputDiv">
                <div class="row">
                    <label class="RSVPInputLabels">YOUR EMAIL (Optional)</label>
                </div>
                <div class="row">
                    <input type="text" class="RSVPInputs" id="RSVPEmail" asp-for=@Model._RSVP.Email>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="RSVPInputDiv" style="margin-left:10%;">
                <div class="row">
                    <label class="RSVPInputLabels" style="font-size:20px; margin-left:-1%;">Will you attend?</label>
                </div>


                <div id="AttendanceCheckboxes" class="AttendanceCheckboxes">
                    <div class="row">
                        <div class="checkbox " style="margin-top:15px;">
                            <label id="AttendingLabel"><input id="AttendingCheckbox" type="checkbox" class="RSVPCheckboxes" onclick="AttendingChecked()" value="">Yes, I'll be there</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkbox " style="margin-top:0px;">
                            <label id="NotAttendingLabel"><input id="NotAttendingCheckbox" type="checkbox" class="RSVPCheckboxes" onclick="NotAttendingChecked()" value="">Sorry, I can't come</label>
                        </div>

                    </div>
                </div>

                <div class="AttendanceCheckboxes" id="AttendanceDaysCheckboxes" hidden>
                    <div class="row">
                        <div class="checkbox " style="margin-top:15px;">
                            <label id="AttendingFridayLabel"><input id="AttendingFridayCheckbox" type="checkbox" class="RSVPCheckboxes" value="">For Friday</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="checkbox " style="margin-top:0px;">
                            <label id="AttendingSaturdayLabel"><input id="AttendingSaturdayCheckbox" type="checkbox" class="RSVPCheckboxes" value="">For Saturday</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="RSVPInputDiv">
                <div class="row">
                    <label class="RSVPInputLabels">SONG REQUEST (Optional)</label>
                </div>
                <div class="row">
                    <input type="text" class="RSVPInputs" id="pwd" asp-for=@Model._RSVP.SongRequest>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="RSVPInputDiv">
                <div class="row">
                    <label class="RSVPInputLabels">NOTE (Optional)</label>
                </div>
                <div class="row">
                    <input type="text" class="RSVPInputs" id="pwd" asp-for=@Model._RSVP.Note>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="RSVPInputDiv">
                <button class="RSVPSubmitButton" type="button" onclick="SubmitForm()">
                    <span class="RSVPSubmitButtonSpan">
                        SEND
                    </span>
                </button>
            </div>
        </div>
        <input id="AttendingInput" type="text"  asp-for=@Model._RSVP.Attending  hidden/>
        <input id="AttendingDaysInput" type="text"  asp-for=@Model._RSVP.AttendingDays hidden />

    </form>
</div>


<script>

    function SubmitForm() {
        var IsFormValid = true;

        if ((document.getElementById('AttendingFridayCheckbox').checked == true) && (document.getElementById('AttendingSaturdayCheckbox').checked == true)) {
            document.getElementById('AttendingDaysInput').value = 'Both';
        } else if (document.getElementById('AttendingFridayCheckbox').checked == true) {
            document.getElementById('AttendingDaysInput').value = 'Friday';
        } else if (document.getElementById('AttendingSaturdayCheckbox').checked == true) {
            document.getElementById('AttendingDaysInput').value = 'Saturday';
        } else {
            document.getElementById('AttendingDaysInput').value = 'None';
        }


        //validate data
        var RSVPName = document.getElementById('RSVPName');
        var RSVPNumber = document.getElementById('RSVPNumber');
        //var RSVPEmail = document.getElementById('RSVPEmail');
        var RSVPAttending = document.getElementById('AttendingCheckbox');
        var RSVPNotAttending = document.getElementById('NotAttendingCheckbox');

        var RSVPAttendingFriday = document.getElementById('AttendingFridayCheckbox');
        var RSVPAttendingSaturday = document.getElementById('AttendingSaturdayCheckbox');

        if (RSVPName.value == '') {
            IsFormValid = false;
            RSVPName.style = 'border: 3px solid red';
        }
        if (RSVPNumber.value == '') {
            IsFormValid = false;
            RSVPNumber.style = 'border: 3px solid red';
        }

        //if (RSVPEmail.value == '') {
        //    IsFormValid = false;
        //    RSVPEmail.style = 'border: 3px solid red';
        //}

        if ((RSVPAttending.checked == false) && (RSVPNotAttending.checked == false)) {
            document.getElementById('AttendingLabel').style = 'color:red';
            document.getElementById('NotAttendingLabel').style = 'color:red';
            IsFormValid = false;
        }

        if ((RSVPAttending.checked == true) && !(RSVPAttendingFriday.checked || RSVPAttendingSaturday.checked)) {
            document.getElementById('AttendingLabel').style = 'color:black';
            document.getElementById('NotAttendingLabel').style = 'color:black';

            document.getElementById('AttendingFridayLabel').style = 'color:red';
            document.getElementById('AttendingSaturdayLabel').style = 'color:red';
            IsFormValid = false;
        }

        if (IsFormValid == true) {
            if (!confirm('Your RSVP has been submitted successfully')) { return false; }
            document.getElementById('RSVPForm').submit();
        }


    }

    var Attending = document.getElementById('AttendingCheckbox');
    var NotAttending = document.getElementById('NotAttendingCheckbox');
    var AttendanceDaysCheckboxes = document.getElementById('AttendanceDaysCheckboxes');
    function AttendingChecked() {
        Attending = document.getElementById('AttendingCheckbox');
        NotAttending = document.getElementById('NotAttendingCheckbox');

        if (Attending.checked == true) {
            document.getElementById('AttendingInput').value = "Yes";
            document.getElementById('NotAttendingCheckbox').checked = false;
            AttendanceDaysCheckboxes.hidden = false;
        } else {
            document.getElementById('AttendingCheckbox').checked = false;
            AttendanceDaysCheckboxes.hidden = true;
        }

    }

    function NotAttendingChecked() {
        Attending = document.getElementById('AttendingCheckbox');
        NotAttending = document.getElementById('NotAttendingCheckbox');

        if (NotAttending.checked == true) {
            document.getElementById('AttendingInput').value = "No";
            document.getElementById('AttendingCheckbox').checked = false;
            AttendanceDaysCheckboxes.hidden = true;
        } else {
            document.getElementById('NotAttendingCheckbox').checked = false;
            AttendanceDaysCheckboxes.hidden = true;
        }

    }

</script>