﻿@page "/Admin"
@model MengeTroue.Pages.CustomPages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<style>
    .TableDiv {
        width: 80vw;
        margin: auto;
    }

    .TableButtons {
        width: 50vw;
        height: 5vw;
    }
</style>


<div class="TableDiv">
    <button class="TablesButton" onclick="ShowRSVPS()">RSVPS</button>
    <button class="TablesButton" onclick="ShowMessages()">MESSAGES</button>
    <h2 id="TableHeading">RSVPS</h2>

    <div id="RSVPTable" >
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Attending</th>
                    <th>AttendingDays</th>
                    <th>Email</th>
                    <th>Song Request</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>

                @{
                    for (int i = 0; i < Model.AllRSVPS.Count; i++)
                    {
                <tr>
                    <td>@Model.AllRSVPS[i].Id</td>
                    <td>@Model.AllRSVPS[i].Name</td>
                    <td>@Model.AllRSVPS[i].Attending</td>

                    @if (Model.AllRSVPS[i].AttendingDays != "None")
                    {
                        <td>@Model.AllRSVPS[i].AttendingDays</td>
                    }
                    else
                    {
                        <td>-</td>
                    }

                    <td>@Model.AllRSVPS[i].Email</td>
                    <td>@Model.AllRSVPS[i].SongRequest</td>
                    <td>@Model.AllRSVPS[i].Note</td>
                </tr>
                    }

                }
            </tbody>
        </table>
    </div>

    <div id="MessagesTable" hidden>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Number</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.AllMessages.Count; i++)
                    {
                        <tr>
                            <td>@Model.AllMessages[i].Id</td>
                            <td>@Model.AllMessages[i].Name</td>
                            <td>@Model.AllMessages[i].Email</td>
                            <td>@Model.AllMessages[i].Number</td>
                            <td>@Model.AllMessages[i].MessageContent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ShowRSVPS() {
        document.getElementById('MessagesTable').hidden = true;
        document.getElementById('RSVPTable').hidden = false;

        document.getElementById('TableHeading').innerHTML = 'RSVPS';
   
    }

    function ShowMessages() {
        document.getElementById('MessagesTable').hidden = false;
        document.getElementById('RSVPTable').hidden = true;

        document.getElementById('TableHeading').innerHTML = 'Messages';
    }

</script>