﻿@page "/Home"
@model MengeTroue.Pages.CustomPages.HomeModel
@{
    ViewData["Title"] = "Home";
}

<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>

    .SectionFixCarousel {
        height: 97vh;
    }

    @@media only screen and (max-width: 600px) {
        .SectionFixCarousel {
            height: 50vh;
        }
    }

    .SectionFixTimer {
        height: 35vh;
    }

    @@media only screen and (max-width: 600px) {

        .SectionFixCarousel {
            height: 95vw;
        }

        .SectionFixTimer {
            height: 25vh;
        }
    }
</style>



<div id="CarouselSection" class="SectionFixCarousel" >
    @await Html.PartialAsync("CustomPages/_CustomCarousel")
</div>
<div id="NavbarSection">
    @await Html.PartialAsync("CustomPages/_Navbar")
</div>

<div id="CountdownTimerSection" class="SectionFixTimer" >
    @await Html.PartialAsync("CustomPages/_CountdownTimer")
</div>

<div id="RSVPSection" hidden>
    @await Html.PartialAsync("CustomPages/_RSVP", Model)
</div>

<div id="FAQSection" hidden>
    @await Html.PartialAsync("CustomPages/_FAQ")
</div>

<div id="ContactUsSection" hidden>
    @await Html.PartialAsync("CustomPages/_ContactUs",Model)
</div>

<div id="InviteSection"  hidden>
    @await Html.PartialAsync("CustomPages/_Invite")
</div>

<div id="AccommodationSecion" hidden>
    @await Html.PartialAsync("CustomPages/_Accommodation")
</div>

<div id="DirectionsSection" hidden>
    @await Html.PartialAsync("CustomPages/_Directions")
</div>

<div id="ScheduleSection" hidden>
    @await Html.PartialAsync("CustomPages/_Schedule")
</div>


